chem:
    {% set head = "gocart" %}
    name: "CHEM"
    target: "{{ ATARDIR }}/{{ cycle_YMDH }}/chem.tar"
    optional:
        # TODO explicitize this set
        - "{{ COMIN_CHEM_HISTORY }}/{{ head }}*"
